*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    list-style-type: none;
}
body{
    margin: 0;
}
.header{
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.Header1{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(211, 211, 211);
    
}

.SocialMedia a img{
    width: 20px;
    height: 20px;
}
.SocialMedia{
    display: flex;
    position: relative;
    width: 15vw;
    column-gap: 2.5vw;
    left: -2vw;
}

.ContactHeader{
   width: 55vw; 
   
}

.ContactHeaderPhone p{
    font-size: smaller;
    margin-right: 3vw;
}


.ContactHeader, .ContactHeaderPhone, .ContactHeaderMail{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.ContactHeaderMail p{
    font-size: x-small;
}


.ContactHeaderMail img, .ContactHeaderPhone img{
    width: 30px;
    height:30px;
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px black;
    background-color:white;
    width: 100vw;
    
}

.Logo img{
    width: 55vw;
    height: 10vh;
    margin-left: 2vw;
}


.NavUl li{
    position: relative;
    padding: 10px;
    left: 0vw;
    display: inline-block;
}

.Hamburger{
    position: absolute;
    display: none;
    flex-direction: column;
    row-gap: 2px;
    left: 89vw;
    cursor: pointer;
}

.Hamburger:hover{
    padding: 5px;
}
.Hamburger span{
    padding: 2px 15px;
    background-color: #e06767;
    
}



.NavItems:hover{
    border-bottom: 5px solid #e06767;
    transition: 200ms;
    
}

.NavItems a{
    text-decoration: none;
    color: black;
    width: 100%;
}



@media (max-width: 880px) {
    .Hamburger{
        display: flex;
    }
    .SocialMedia img, .ContactHeaderMail img, .ContactHeaderPhone img{
        width: 15px;
        height:15px;
    }
    .ContactHeader{
        width: 70vw;
        justify-content: space-between;
    }

   .NavUl{
        display: none;
        flex-direction: column;
        row-gap: 1vw;
        position: absolute;
        width: 100vw;
        right: 0vw;
        top:10.5vh;
        padding-left: 0;
        background-color: black;
        text-align: center; 
        transform: translateX(105vw);
        z-index: 1;
    }

    .NavItems a{
        text-decoration: none;
        color: white;
        padding-left: 25vw;
        padding-right: 25vw;
    }

    .NavItems a:hover{
        text-decoration: none;
        color: black;
    }



@keyframes sildeIn {
    100%{
        transform: translateX(0vw)
    }
    
}


.NavUl li a{
    position: relative;
    color: white;
    left: 0;
    
}
.NavUl li:hover{
    border-style: none;
    background-color: #e06767;
}
.active{
    display: flex;
    /*transition: 1s;*/
    animation: sildeIn 500ms linear forwards
    
}
}



.headerSlides{

    width: 100vw;
    height: 69vh;
    animation: changingBg 20s infinite;
    background-repeat: no-repeat;
    background-size:cover;
}


@keyframes changingBg{
    0%, 100%{background-image: url('Images/DentalPoster5.jpg');}

    25%{background-image: url('Images/DentalPoster6.jpg');}

    50%{background-image: url('Images/DentalPoster3.jpg');}

    75%{
        background-image: url('Images/DentalPoster4.jpg');
    }
}
.mainContent{
   /* padding: 5px 30px 0 30px;*/
}

.section1 {
    animation: SlideUp 500ms linear forwards;
    background-image: url('Images/Purple.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    width: 100vw;
    justify-items: center;
    padding: 20px 30px 35px 30px;
}

.section1Heading{
    position: relative;
    text-align: center;
    font-size: medium;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    
    
}
.section1 img{
    position: relative;
    top: 5px;
    width: 25px;
    height:25px

}

.section1 p{
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
    font-size:1em;
    padding: 5px 10px 5px 10px;
}
.Slogan{
    padding: 40px;
    font-size: xx-large;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(224, 103, 103, 0.5), rgb(224, 103, 103, 0.8), rgb(205, 137, 154, 0.5));
    text-align: center;
}

.SectionHeading{
    font-size: 2em;
    font-weight: bold;
    margin-left: 5vw;
    margin-top: 2vh;
    text-decoration:underline;
}

.Section-One{
    display: flex;
    flex-direction: column;
    padding: 5px;
    place-items: center;
    padding: 5vw;
}

.SectionOneContentIntro{
    display: flex;
    align-items: center;
    width: 100vw;
}
.SectionOneContentIntro img{
    border-radius: 50%;
    height: 20vh;
    width: 40vw;
}
.SectionOneContentIntro p{
    font-family: 'Signika', sans-serif;
}

.SectionOneContentIntro p span{
    font-size:xx-large;
    font-weight: bolder;
}

.SpecializationOne{
    width: 150px;
    height: 100px;
    background-color: #e06767;
    text-align: center;
    padding: 10px;
    font-size: medium;
    margin: 0
}

.SectionOneContentSpecialization{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    place-items: center;
    column-gap: 0px;
    margin-top: 10px;
}

.SpecializationOne p{
    padding: 10px;
}

.SpecializationOne:nth-of-type(1):hover{
    background-image: url('Images/Braces.png');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}


.SpecializationOne:nth-of-type(2):hover{
    background-image: url('Images/crown.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationOne:nth-of-type(3):hover{
    background-image: url('Images/toothFilling.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationOne:nth-of-type(4):hover{
    background-image: url('Images/gumTherapy.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationOne:nth-of-type(5):hover{
    background-image: url('Images/esthetic.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationOne:nth-of-type(6):hover{
    background-image: url('Images/enhancement.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.Section-Two{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 5vw;
}

.SectionTwoContentIntro{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100vw;
}
.SectionTwoContentIntro img{
    border-radius: 50%;
    height: 20vh;
    width: 40vw;
}
.SectionTwoContentIntro p{
    font-family: 'Signika', sans-serif;
    text-align: center;
}

.SectionTwoContentIntro p span{
    font-size:xx-large;
    font-weight: bolder;
}

.SpecializationTwo{
    width: 150px;
    height: 100px;
    background-color: #e06767;
    text-align: center;
    padding: 10px;
    font-size: medium;
    margin: 0
}

.SectionTwoContentSpecialization{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    place-items: center;
    column-gap: 0px;
    margin-top: 10px;
}

.SpecializationTwo p{
    padding: 10px;
}

.SpecializationTwo:nth-of-type(1):hover{
    background-image: url('Images/genralSurgery.png');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}


.SpecializationTwo:nth-of-type(2):hover{
    background-image: url('Images/LaparoscopicSurgery.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationTwo:nth-of-type(3):hover{
    background-image: url('Images/GallBladder.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationTwo:nth-of-type(4):hover{
    background-image: url('Images/hemorrhoid.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationTwo:nth-of-type(5):hover{
    background-image: url('Images/hernia.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationTwo:nth-of-type(6):hover{
    background-image: url('Images/PilesSurgery.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}  

.SpecializationTwo:nth-of-type(7):hover{
    background-image: url('Images/fissure.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationTwo:nth-of-type(8):hover{
    background-image: url('Images/Hysterectomy.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationTwo:nth-of-type(9):hover{
    background-image: url('Images/gallStones.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}

.SpecializationTwo:nth-of-type(10):hover{
    background-image: url('Images/Appendectomy.jpg');
    background-size:180px 120px;
    background-blend-mode:lighten;
    background-repeat: no-repeat;

}


.placeImage{
    margin-top: 10px;
   text-align: center;
    

}

.placeImageContent img{
    width: 100vw;
    height: 50vh;
}

.OpeningHours{
    text-align: start;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    
}

.OpeningHours tbody tr td{
    font-size: 1.5em;
    padding: 10px;

}

.OpeningHours thead th{
    text-decoration: underline;
}

.vistingDoctorIntro{
    text-align: center;
    margin: 0 auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100vw;
    padding: 10px 40px 10px 40px;
    padding: 5px;
}

.vistingDoctorIntro img{
    width: 50vw;
    height: 30vh;
    border-radius: 50%;
    margin-top: 5px;
}

.vistingDoctorIntro h2{
    font-size:x-large;
    text-decoration: underline;
}

.vistingDoctorIntro p{
    font-size: larger;
}


.contactDetail{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background-color: rgb(212, 212, 212, 0.5);
}
.contactDetailContent{
    position: relative;
    display: flex;
}

 .address p a{
    text-decoration: none;
    font-size: small;
    color: black;
}
.phoneNumber{
    margin-top: 10px;
    font-size: small;
}
.phoneNumber p a{
    text-decoration: none;
    color: black;
}

.contactDetailContent {
    width: 100vw;
    position: relative;
}

.locationDetails iframe{
    width: 95vw;
    position: relative;
}

.socialMedia{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    left:10vw;
    top: 3rem;
    column-gap: 4.5vw;
    row-gap: 2.5vh;
}

.footer .socialMedia a img{
    width: 3vw;
    height: 4vw;
}

.copyrights{
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}
